*{
    padding: 0;
    margin: 0;

}
:root{
    --nav-ratio: 30%;
}

body{
    display: flex;
    flex-wrap: wrap;
}

header, footer{
    width: 100%;
}
nav{
    width: var(--nav-ratio);

}
main{
    width: calc( 100% - var( --nav-ratio) );
}

main img{
    width: 40%;
}
nav ul{
    list-style-type: none;
}